@charset "utf-8";

/* 공통-가운데영역 */
.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1199px) {

  .container {
    padding: 0 24px;
  }

}

@media (max-width: 767px) {

  .container {
    padding: 0 16px;
  }

}

/* 공통-레이아웃 */
main {
  margin-top: 70px;
}

p.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
}

.infoBox {
  display: flex;
  height: 444px;
  border-radius: 12px;
  overflow: hidden;
}

.infoBox .imgBox {
  flex-shrink: 0;
  width: 580px;
}

.infoBox .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox .infoText {
  display: block;
  margin-bottom: 12px;
  color: #3692FF;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
}

.infoBox .textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 21px 0 52px;
  background-color: #FCFCFC;
}

.infoBox .textBox p.title {
  margin-bottom: 24px;
}

.infoBox .textBox p.text {
  font-size: 24px;
  line-height: 1.33;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1199px) {

  .infoBox {
    flex-direction: column;
    height: auto;
  }

  .infoBox .imgBox {
    width: 100%;
  }

  .infoBox .textBox p.title {
    font-size: 32px;
  }

  .infoBox .textBox p.title br {
    display: none;
  }

  .infoBox .textBox p.text {
    font-size: 18px;
    line-height: 1.56;
  }

  .infoBox .textBox {
    padding: 24px 0 0 0;
  }

}

@media (max-width: 767px) {

  .infoBox .infoText {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .infoBox .textBox p.title {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .infoBox .textBox p.text {
    font-size: 16px;
  }

}

/* 공통-영역 */
#section02 .container,
#section03 .container,
#section04 .container {
  max-width: 988px;
}

#section02,
#section03,
#section04 {
  padding: 138px 0;
}

@media (max-width: 1199px) {

  #section02,
  #section03,
  #section04 {
    padding: 26px 0;
    background-color: #fcfcfc;
  }

}

@media (max-width: 767px) {

  #section02,
  #section03,
  #section04 {
    padding: 20px 0;
  }

}


/* 공통-헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
  z-index: 99;
}

#header .header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo h1 a,
#header .logo h1 a img {
  display: block;
}

#header .loginBox a {
  display: block;
  width: 128px;
  height: 48px;
  line-height: 48px;
  background-color: #3692FF;
  border-radius: 8px;
  text-align: center;
  color: #F3F4F6;
  font-weight: 600;
  transition: all .3s;
}

#header .loginBox a:hover {
  background-color: #1967D6;
}

/* 공통-푸터 */
#footer {
  position: relative;
  padding: 33px 0 0;
  height: 160px;
  background-color: #111827;
}

#footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .text {
  display: block;
  color: #9CA3AF;
}

#footer .footerLink {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

#footer .footerLink li a {
  display: block;
  color: #E5E7EB;
}

#footer .text,
#footer .footerLink,
#footer .snsLink {
  flex-shrink: 0;
}

#footer .text,
#footer .snsLink {
  width: 116px;
}

#footer .snsLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 13px;
}

#footer .snsLink li a {
  display: block;
}

#footer .snsLink li a.faceBook {
  width: 18px;
  height: 18px;
  background: url(../images/facebook_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.twitter {
  width: 19px;
  height: 15px;
  background: url(../images/twitter_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.youtube {
  width: 20px;
  height: 13px;
  background: url(../images/youtube_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.insta {
  width: 17px;
  height: 17px;
  background: url(../images/insta_icon.svg)no-repeat center;
  background-size: cover;
}

@media (max-width: 767px) {

  #footer .text {
    position: absolute;
    left: 16px;
    bottom: 32px;
  }

}

/* 영역1 */
#section01 {
  overflow: hidden;
  background-color: #CFE5FF;
}

#section01 .container {
  max-width: 1110px;
}

#section01 .section01 {
  position: relative;
  padding: 200px 0 0;
  height: 540px;
  z-index: 1;
}

#section01 .mainContent {
  display: flex;
  justify-content: space-between;
  gap: 0 7px;
}

#section01 .text {
  padding: 40px 0 0;
}

#section01 img {
  max-width: 746px;
  width: 100%;
  display: block;
}


#section01 .title {
  margin-bottom: 32px;
}

#section01 .view {
  display: block;
  width: 357px;
  height: 56px;
  line-height: 58px;
  border-radius: 50px;
  text-align: center;
  background-color: #3692FF;
  color: #fff;
  transition: all .3s;
  font-size: 20px;
}

#section01 .view:hover {
  background-color: #1967D6;
}

@media (max-width: 1199px) {

  #section01 .mainContent {
    flex-direction: column;
    align-items: center;
  }

  #section01 .mainContent .img {
    width: 100%;
    padding-top: 211px;
  }

  #section01 .mainContent .img img {
    max-width: 100%;
    margin: 0 auto;
  }

  #section01 .container {
    padding: 0;
  }

  #section01 .section01 {
    padding: 84px 0 0;
    height: auto;
  }

  #section01 .text {
    padding: 0;
  }

  #section01 .view {
    margin: 0 auto;
  }

  #section01 .title {
    margin-bottom: 24px;
    text-align: center;
  }

  #section01 .title br {
    display: none;
  }

}

@media (max-width: 767px) {

  #section01 .mainContent .img {
    padding-top: 132px;
  }

  #section01 .section01 {
    padding: 48px 0 0;
  }

  #section01 .title {
    margin-bottom: 18px;
    font-size: 32px;
  }

  #section01 .title br {
    display: block;
  }

  #section01 .view {
    width: 240px;
    height: 48px;
    line-height: 48px;
  }

}

/* 영역2 */
@media (max-width: 767px) {

  #section02 {
    padding: 52px 0 20px;
  }

}

/* 영역3 */
#section03 .infoBox {
  flex-direction: row-reverse;
}

#section03 .infoBox .textBox {
  padding: 0 64px 0 48px;
  text-align: right;
}

@media (max-width: 1199px) {

  #section03 .infoBox {
    flex-direction: column;
  }

  #section03 .infoBox .textBox {
    padding: 24px 0 0 0;
  }

}

/* 영역4 */
@media (max-width: 1199px) {

  #section04 {
    padding: 26px 0 56px;
  }

}

@media (max-width: 767px) {

  #section04 {
    padding: 20px 0 83px;
  }

}

/* 영역5 */
#section05 {
  position: relative;
  background-color: #CFE5FF;
}

#section05::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 138px;
  background-color: #fcfcfc;
}

#section05 .section05 {
  padding: 281px 0 0;
  position: relative;
  height: 678px;
  z-index: 1;
}

#section05 img {
  display: block;
  width: 100%;
}

#section05 .text {
  flex-shrink: 0;
  padding-top: 113px;
}

#section05 .layoutBox {
  display: flex;
  gap: 0 69px;
  justify-content: space-between;
}

@media (max-width: 1199px) {

  #section05 .section05 {
    padding: 201px 0 0;
    height: auto;
  }

  #section05::after {
    display: none;
  }

  #section05 .layoutBox {
    flex-direction: column;
  }

  #section05 .text {
    margin-bottom: 217px;
    padding-top: 0;
    text-align: center;
  }

}

@media (max-width: 767px) {

  #section05 .section05 {
    padding: 121px 0 0;
  }

  #section05 .text {
    margin-bottom: 131px;
  }

  #section05 p.title {
    font-size: 32px;
  }

}