@charset "utf-8";

:root {
  --gray04: #F3F4F6;
  --gray03: #4b5563;
  --gray02: #1f2937;
  --gray01: #9ca3af;
  --blue: #3692ff;
  --white02: #fcfcfc;
  --white01: #ffffff;
  --red: #f74747
}

main {
  margin-top: 70px;
}

.errorText {
  margin: 22px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--red);
}

#sub {
  padding: 24px 0 100px;
  min-height: 1000px;
  padding: 24px 0 100px;
  min-height: 1000px;
  background-color: #fcfcfc;
}

#sub h3 {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

#sub h4 {
  margin: 10px 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray02);
  line-height: 1.4;
}

.loadingText {
  margin: 150px 0 0;
  text-align: center;
  font-size: 26px;
  color: var(--blue);
}


