@charset "utf-8";

:root {
  --gray04: #F3F4F6;
  --gray03: #4b5563;
  --gray02: #1f2937;
  --gray01: #9ca3af;
  --blue: #3692ff;
  --white02: #fcfcfc;
  --white01: #ffffff;
  --red: #f74747
}

/* 에러메세지 */
.errorText {
  margin: 22px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--red);
}

/* 공통-가운데영역 */
.container {
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1199px) {

  .container {
    padding: 0 24px;
  }

}

@media (max-width: 767px) {

  .container {
    padding: 0 16px;
  }

}

/* 공통-레이아웃 */
main {
  margin-top: 70px;
  min-height: 600px;
}

p.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
}

.infoBox {
  display: flex;
  height: 444px;
  border-radius: 12px;
  overflow: hidden;
}

.infoBox .imgBox {
  flex-shrink: 0;
  width: 580px;
}

.infoBox .imgBox img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox .infoText {
  display: block;
  margin-bottom: 12px;
  color: #3692FF;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
}

.infoBox .textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 21px 0 52px;
  background-color: #FCFCFC;
}

.infoBox .textBox p.title {
  margin-bottom: 24px;
}

.infoBox .textBox p.text {
  font-size: 24px;
  line-height: 1.33;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1199px) {

  .infoBox {
    flex-direction: column;
    height: auto;
  }

  .infoBox .imgBox {
    width: 100%;
  }

  .infoBox .textBox p.title {
    font-size: 32px;
  }

  .infoBox .textBox p.title br {
    display: none;
  }

  .infoBox .textBox p.text {
    font-size: 18px;
    line-height: 1.56;
  }

  .infoBox .textBox {
    padding: 24px 0 0 0;
  }

}

@media (max-width: 767px) {

  .infoBox .infoText {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .infoBox .textBox p.title {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .infoBox .textBox p.text {
    font-size: 16px;
  }

}

/* 공통-영역 */
#productSection01 .container,
#productSection02 .container,
#productSection03 .container {
  max-width: 988px;
}

#productSection01,
#productSection02,
#productSection03 {
  padding: 138px 0;
}

@media (max-width: 1199px) {

  #productSection01,
  #productSection02,
  #productSection03 {
    padding: 26px 0;
    background-color: #fcfcfc;
  }

}

@media (max-width: 767px) {

  #productSection01,
  #productSection02,
  #productSection03 {
    padding: 20px 0;
  }

}

/* 공통-헤더 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #DFDFDF;
  z-index: 99;
}

#header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

#header nav .depth01 {
  display: flex;
  align-items: center;
}

#header nav .depth01 li h2 a {
  display: block;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray03);
  transition: all .3s;
}

#header nav .depth01 li h2 a.active {
  color: var(--blue);
}

#header nav .depth01 li h2 a:hover {
  color: var(--blue);
}

#header .header {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
}

#header .logo {
  margin-right: 32px;
}

#header .logo h1 a,
#header .logo h1 a img {
  display: block;
}

#header .loginBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#header .loginBox a {
  display: block;
  width: 40px;
  height: 40px;
  background: url(/public/images/user_icon.svg)no-repeat center;
  background-size: cover;
}

/* #header .loginBox a {
  display: block;
  width: 128px;
  height: 48px;
  line-height: 48px;
  background-color: #3692FF;
  border-radius: 8px;
  text-align: center;
  color: #F3F4F6;
  font-weight: 600;
  transition: all .3s;
} 

#header .loginBox a:hover {
  background-color: #1967D6;
}
  */

/* 공통-푸터 */
#footer {
  padding: 33px 0 0;
  height: 160px;
  background-color: #111827;
}

#footer .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .text {
  display: block;
  color: #9CA3AF;
}

#footer .footerLink {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

#footer .footerLink li a {
  display: block;
  color: #E5E7EB;
}

#footer .text,
#footer .footerLink,
#footer .snsLink {
  flex-shrink: 0;
}

#footer .text,
#footer .snsLink {
  width: 116px;
}

#footer .snsLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 13px;
}

#footer .snsLink li a {
  display: block;
}

#footer .snsLink li a.faceBook {
  width: 18px;
  height: 18px;
  background: url(/public/images/facebook_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.twitter {
  width: 19px;
  height: 15px;
  background: url(/public/images/twitter_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.youtube {
  width: 20px;
  height: 13px;
  background: url(/public/images/youtube_icon.svg)no-repeat center;
  background-size: cover;
}

#footer .snsLink li a.insta {
  width: 17px;
  height: 17px;
  background: url(/public/images/insta_icon.svg)no-repeat center;
  background-size: cover;
}

@media (max-width: 767px) {

  #footer .text {
    position: absolute;
    left: 16px;
    bottom: 32px;
  }

}

/* 영역1 */
#mainSection {
  overflow: hidden;
  background-color: #CFE5FF;
}

#mainSection .container {
  max-width: 1110px;
}

#mainSection .box {
  position: relative;
  padding: 200px 0 0;
  height: 540px;
  z-index: 1;
}

#mainSection .mainContent {
  display: flex;
  justify-content: space-between;
  gap: 0 7px;
}

#mainSection .text {
  padding: 40px 0 0;
}

#mainSection img {
  max-width: 746px;
  width: 100%;
  display: block;
}


#mainSection .title {
  margin-bottom: 32px;
}

#mainSection .view {
  display: block;
  width: 357px;
  height: 56px;
  line-height: 58px;
  border-radius: 50px;
  text-align: center;
  background-color: #3692FF;
  color: #fff;
  transition: all .3s;
  font-size: 20px;
}

#mainSection .view:hover {
  background-color: #1967D6;
}

@media (max-width: 1199px) {

  #mainSection .mainContent {
    flex-direction: column;
    align-items: center;
  }

  #mainSection .mainContent .img {
    width: 100%;
    padding-top: 211px;
  }

  #mainSection .mainContent .img img {
    max-width: 100%;
    margin: 0 auto;
  }

  #mainSection .container {
    padding: 0;
  }

  #mainSection .box {
    padding: 84px 0 0;
    height: auto;
  }

  #mainSection .text {
    padding: 0;
  }

  #mainSection .view {
    margin: 0 auto;
  }

  #mainSection .title {
    margin-bottom: 24px;
    text-align: center;
  }

  #mainSection .title br {
    display: none;
  }

}

@media (max-width: 767px) {

  #mainSection .mainContent .img {
    padding-top: 132px;
  }

  #mainSection .box {
    padding: 48px 0 0;
  }

  #mainSection .title {
    margin-bottom: 18px;
    font-size: 32px;
  }

  #mainSection .title br {
    display: block;
  }

  #mainSection .view {
    width: 240px;
    height: 48px;
    line-height: 48px;
  }

}

/* 영역2 */
@media (max-width: 767px) {

  #productSection01 {
    padding: 52px 0 20px;
  }

}

/* 영역3 */
#productSection02 .infoBox {
  flex-direction: row-reverse;
}

#productSection02 .infoBox .textBox {
  padding: 0 64px 0 48px;
  text-align: right;
}

@media (max-width: 1199px) {

  #productSection02 .infoBox {
    flex-direction: column;
  }

  #productSection02 .infoBox .textBox {
    padding: 24px 0 0 0;
  }

}

/* 영역4 */
@media (max-width: 1199px) {

  #productSection03 {
    padding: 26px 0 56px;
  }

}

@media (max-width: 767px) {

  #productSection03 {
    padding: 20px 0 83px;
  }

}

/* 영역5 */
#infoSection {
  position: relative;
  background-color: #CFE5FF;
}

#infoSection::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 138px;
  background-color: #fcfcfc;
}

#infoSection .box {
  padding: 281px 0 0;
  position: relative;
  height: 678px;
  z-index: 1;
}

#infoSection img {
  display: block;
  width: 100%;
}

#infoSection .text {
  flex-shrink: 0;
  padding-top: 113px;
}

#infoSection .layoutBox {
  display: flex;
  gap: 0 69px;
  justify-content: space-between;
}

@media (max-width: 1199px) {

  #infoSection .box {
    padding: 201px 0 0;
    height: auto;
  }

  #infoSection::after {
    display: none;
  }

  #infoSection .layoutBox {
    flex-direction: column;
  }

  #infoSection .text {
    margin-bottom: 217px;
    padding-top: 0;
    text-align: center;
  }

}

@media (max-width: 767px) {

  #infoSection .box {
    padding: 121px 0 0;
  }

  #infoSection .text {
    margin-bottom: 131px;
  }

  #infoSection p.title {
    font-size: 32px;
  }

}

/* 서브-상품페이지 */
#sub.subProductReg {
  background-color: var(--white01);
}

#sub {
  padding: 24px 0 58px;
  background-color: #fcfcfc;
}

#sub h3 {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

#sub h4 {
  margin: 10px 0 16px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray02);
  line-height: 1.4;
}

#sub .cardList.bestCardBox li {
  width: 23.59%;
}

#sub .cardList.allCardBox {

  min-height: 500px;

}

#sub .cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 1.87%;
}

#sub .cardList li {
  width: 18.5%;
}

#sub .cardList li a {
  display: block;
}

#sub .cardList li a:hover .imgBox {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

#sub .cardList li a:hover .imgBox img {
  transform: scale(1.2);
}

#sub .cardList li .imgBox {
  position: relative;
  padding-top: 100%;
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
  transition: all .5s;
}

#sub .cardList li .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

#sub .cardList li .textBox {
  margin-bottom: 6px;
}

#sub .cardList li .textBox h4 {
  margin-bottom: 6px;
  color: var(--gray02);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
}

#sub .cardList li .textBox .price {
  display: block;
  font-weight: 700;
  line-height: 1.6;
  color: var(--gray02);
}

#sub .cardList li .likeBox {
  height: 18px;
  display: flex;
  align-items: center;
  gap: 0 4px;
}

#sub .cardList li .likeBox span {
  display: flex;
  align-items: center;
  gap: 0 5px;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray03);
}

#sub .cardList li .likeBox span::before {
  content: '';
  width: 14px;
  height: 12px;
  background: url(/public/images/like_btn.svg)no-repeat center;
  background-size: cover;
}

#sub .productListBox .productBox {
  margin-bottom: 49px;
}

#sub .productListBox .productBox .product {
  position: relative;
}

#sub .productListBox .productBox:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199px) {

  #sub .cardList.bestCardBox li {
    width: 49%;
  }

  #sub .cardList.allCardBox li {
    width: 14%;
  }

  #sub .cardList.allCardBox li {
    width: 32%;
  }

}

@media (max-width: 767px) {

  #sub .cardList.bestCardBox {
    gap: 20px 0;
  }

  #sub .cardList.bestCardBox li {
    width: 100%;
  }

  #sub .cardList.allCardBox li {
    width: 49%;
  }

}

/* 서브-검색 */
.searchWrap {
  display: flex;
  gap: 0 12px;
  position: absolute;
  top: -9px;
  right: 0;
  height: 42px;
}

.searchWrap .searchBox {
  width: 325px;
}

.searchWrap .searchBox .searchBtnBox {
  position: absolute;
  top: 14px;
  left: 20px;
}

.searchWrap .searchBox .searchBtnBox .searchBtn {
  display: block;
  width: 15px;
  height: 15px;
  background: url(/public/images/search_icon.svg)no-repeat center;
  background-size: cover;
}

.searchWrap .searchBox input {
  width: 100%;
  height: 42px;
  padding: 0 10px 0 44px;
  background-color: #F3F4F6;
  border-radius: 12px;
}

.searchWrap .searchBox input::placeholder {
  color: var(--gray01);
}

.searchWrap .btnBox .addBtn {
  display: block;
  width: 133px;
  height: 42px;
  line-height: 42px;
  border-radius: 8px;
  background-color: var(--blue);
  text-align: center;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}

.searchWrap .selectBox .select {
  position: relative;
  display: block;
  padding: 0 0 0 20px;
  width: 130px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  color: var(--gray02);
}

.searchWrap .selectBox .select::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 14px;
  height: 8px;
  background: url(/public/images/arrow_icon.svg)no-repeat center;
  background-size: cover;
  transition: all .3s;
}

.searchWrap .selectBox .select.active::after {
  transform: translateY(-50%) rotate(-180deg);
}

.searchWrap .selectBox .select.active+.viewList {
  opacity: 1;
  z-index: 11;
}

.searchWrap .selectBox .viewList {
  opacity: 0;
  margin-top: 8px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  overflow: hidden;
  z-index: -1;
  transition: all .3s;
}

.searchWrap .selectBox .viewList li {
  border-bottom: 1px solid #E5E7EB;
}

.searchWrap .selectBox .viewList li:last-child {
  border-bottom: 0;
}

.searchWrap .selectBox .viewList li a {
  text-align: center;
  display: block;
  height: 42px;
  line-height: 42px;
  color: var(--gray02);
  background-color: #fff;
}

.searchWrap .selectBox .viewList li a:hover {
  font-weight: 500;
}

.infoTitle {
  text-align: center;
}

.loadingText {
  margin: 150px 0 0;
  text-align: center;
  font-size: 26px;
  color: var(--blue);
}

/* 상품등록 */
.productRegWrap .productRegBox{position: relative;}
.productRegWrap .LayoutBox{display: flex; gap: 0 24px;}
.productRegWrap .productUploadeImg{position: relative; width: 282px; height: 282px; border-radius: 12px; overflow: hidden;}
.productRegWrap .productUploadeImg img{display: block; width: 100%;}
.productRegWrap .productUploadeImg .delBtn{position: absolute; top:12px; right:12px; width: 20px; height: 24px; background: url(/public/images/del_btn_icon.png)no-repeat center; background-size: cover;}

/* 폼 */
.formBox{margin: 0 0 32px;}
.formBox .inputFileBox label{display: flex; align-items: center; justify-content: center; width: 282px; height: 282px; background-color: var(--gray04); border-radius: 12px; cursor: pointer;}
.formBox .inputFileBox label span{position: relative; display: flex; flex-direction: column; align-items: center; gap: 15px 0;  color: var(--gray01); line-height: 1;}
.formBox .inputFileBox label span::before{content: ''; width: 48px; height: 48px; background: url(/public/images/add_btn_icon.png)no-repeat center; background-size: cover;} 
.formBox .inputTextBox input{padding: 20px 20px 20px 24px; width: 100%; border-radius: 12px; background-color: var(--gray04); font-size: 16px;}
.formBox .inputTextBox input::placeholder{color: var(--gray01); font-size: 16px;}
.formBox .textAreaBox textarea{padding: 20px 20px 20px 24px; width: 100%; height: 282px; border: 0; background-color: var(--gray04); font-family: 'pretendard', sans-serif; font-size: 16px; border-radius: 12px;}
.formBox .textAreaBox textarea::placeholder{color: var(--gray01);}
.productRegBox .addBtn{position: absolute; top:0; right:0; display: block; width: 74px; height: 42px; line-height: 42px; text-align: center; background-color: var(--blue); border-radius: 8px; color: #fff; color: var(--gray04); font-size: 16px;}
.productRegBox .addBtn:disabled{background-color: var(--gray01); cursor: auto;}